<center>
# Scikit Learn Exploration
#### Annisa Sekar A.
#### Erma Safira N.

### a. Read Dataset

Iris Dataset

In [103]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()

# Show in dataframe format
feature_label = iris.feature_names
feature_label.append('feature')
iris_data = np.array([np.append(X, y) for X, y in zip(iris.data, iris.target)])
iris_dataset = pd.DataFrame(iris_data, columns=feature_label)
iris_dataset['feature'] = np.array([iris.target_names[i] for i in iris.target])
iris_dataset

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),feature
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa
10,5.4,3.7,1.5,0.2,setosa
11,4.8,3.4,1.6,0.2,setosa
12,4.8,3.0,1.4,0.1,setosa
13,4.3,3.0,1.1,0.1,setosa
14,5.8,4.0,1.2,0.2,setosa
15,5.7,4.4,1.5,0.4,setosa
16,5.4,3.9,1.3,0.4,setosa
17,5.1,3.5,1.4,0.3,setosa
18,5.7,3.8,1.7,0.3,setosa
19,5.1,3.8,1.5,0.3,setosa
20,5.4,3.4,1.7,0.2,setosa
21,5.1,3.7,1.5,0.4,setosa
22,4.6,3.6,1.0,0.2,setosa
23,5.1,3.3,1.7,0.5,setosa
24,4.8,3.4,1.9,0.2,setosa
25,5.0,3.0,1.6,0.2,setosa
26,5.0,3.4,1.6,0.4,setosa
27,5.2,3.5,1.5,0.2,setosa
28,5.2,3.4,1.4,0.2,setosa
29,4.7,3.2,1.6,0.2,setosa
...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica
121,5.6,2.8,4.9,2.0,virginica
122,7.7,2.8,6.7,2.0,virginica
123,6.3,2.7,4.9,1.8,virginica
124,6.7,3.3,5.7,2.1,virginica
125,7.2,3.2,6.0,1.8,virginica
126,6.2,2.8,4.8,1.8,virginica
127,6.1,3.0,4.9,1.8,virginica
128,6.4,2.8,5.6,2.1,virginica
129,7.2,3.0,5.8,1.6,virginica
130,7.4,2.8,6.1,1.9,virginica
131,7.9,3.8,6.4,2.0,virginica
132,6.4,2.8,5.6,2.2,virginica
133,6.3,2.8,5.1,1.5,virginica
134,6.1,2.6,5.6,1.4,virginica
135,7.7,3.0,6.1,2.3,virginica
136,6.3,3.4,5.6,2.4,virginica
137,6.4,3.1,5.5,1.8,virginica
138,6.0,3.0,4.8,1.8,virginica
139,6.9,3.1,5.4,2.1,virginica
140,6.7,3.1,5.6,2.4,virginica
141,6.9,3.1,5.1,2.3,virginica
142,5.8,2.7,5.1,1.9,virginica
143,6.8,3.2,5.9,2.3,virginica
144,6.7,3.3,5.7,2.5,virginica
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

Play-Tennis Dataset

In [72]:
import pandas as pd
import numpy as np
playtennis = pd.read_csv('weather.nominal.csv')
playtennis

     outlook temperature humidity  windy play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

### b. Full Training Learning

#### NaiveBayes

#### DecisionTree ID3

#### kNN

kNN tidak menghasilkan model/hipotesis

#### Neural Network MLP

In [201]:
from sklearn.neural_network import MLPClassifier
X, y = iris.data, iris.target
mlp_clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
                    hidden_layer_sizes=(hidden_unit,), random_state=1)
mlp_clf.fit(X,y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(15,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [202]:
hidden_unit = 15
print('== Jumlah hidden layer: 1')
print('=== Jumlah unit pada hidden layer:', hidden_unit)
print('===== Print Weights of MLP')
weights = mlp_clf.coefs_
for i in range(0, len(weights)):
    print('====== Weights From Layer ', i+1, ' to ', i+2)
    rows = ['Unit '+str(k+1) for k in range(0, len(weights[i]))]
    cols = ['Unit '+str(k+1) for k in range(0, len(weights[i][0]))]
    weights_df = pd.DataFrame(weights[i], index=rows, columns=cols)
    print(weights_df)
    print()

== Jumlah hidden layer: 1
=== Jumlah unit pada hidden layer: 15
===== Print Weights of MLP
====== Weights From Layer  1  to  2
          Unit 1    Unit 2    Unit 3    Unit 4    Unit 5    Unit 6     Unit 7  \
Unit 1 -0.093220 -6.836882 -0.561584 -0.222064 -0.396843 -0.457977  10.441831
Unit 2  0.191507 -5.419560  0.065934 -0.403998 -0.339160  0.337864   9.552070
Unit 3 -0.451227  0.355395  0.514404  0.037259  0.215559 -0.207254 -18.236993
Unit 4 -0.058538  1.761182 -0.231859 -0.238418 -0.415635 -0.539955  -8.875688

          Unit 8    Unit 9   Unit 10   Unit 11    Unit 12   Unit 13  \
Unit 1 -1.387511 -2.069965  2.787386 -9.438345   4.319223 -0.332026
Unit 2 -0.727051 -0.471861 -0.753634 -5.333981   6.554209 -0.517837
Unit 3 -0.738574 -3.593731 -0.325506  3.691433 -15.253736 -0.246655
Unit 4 -0.602589 -1.176148 -8.170465  4.495345 -10.064808 -0.396874

          Unit 14   Unit 15
Unit 1  -2.407695 -0.530944
Unit 2  -5.111660  0.424815
Unit 3  21.392868 -0.445746
Unit 4  20.262311  0.224413

====== Weights From Layer  2  to  3
            Unit 1    Unit 2     Unit 3
Unit 1   -0.386251  0.493434  -0.175710
Unit 2   -3.115330  0.387319   3.720765
Unit 3    0.142744  0.289640  -0.174403
Unit 4   -0.265551  0.456935  -0.082998
Unit 5    0.536523  0.188646   0.140462
Unit 6   -0.444664  0.518804  -0.057812
Unit 7    6.427389  1.801646  -8.548112
Unit 8    0.459610  0.071211  -0.553987
Unit 9    0.329597 -0.043627  -0.319618
Unit 10   8.147294 -3.322246  -4.072796
Unit 11   2.348828  3.466936  -5.736564
Unit 12 -12.471828 -0.069592  12.957582
Unit 13  -0.418821  0.499306   0.227169
Unit 14 -17.386355  8.590605   8.882708
Unit 15   0.488259  0.244144  -0.433670

### c. Split Train 90% - Test 10% Learning

#### NaiveBayes

#### DecisionTree ID3

#### kNN

#### Neural Network MLP

### d. 10 Fold Cross Validation Learning

#### NaiveBayes

#### DecisionTree ID3

#### kNN

#### Neural Network MLP

### e. Save Model/Hypothesis

In [206]:
# Save NaiveBayes

# Save Decision Tree ID3

# Save Neural Network MLP
from sklearn.externals import joblib
joblib.dump(mlp_clf, 'model/mlp_model.joblib')

['mlp_model.joblib']

### f. Read Model/Hypothesis

#### NaiveBayes

#### Decision Tree ID3

#### kNN

Tidak terdapat model/hipotesis.

#### Neural Network MLP

In [207]:
mlp_clf = joblib.load('model/mlp_model.joblib')

### g. Create New Instance

In [208]:
print('Contoh data uji:')
test = [1, 2, 3, 4]
test

Contoh data uji:

[1, 2, 3, 4]

### h. Instance Classification

#### NaiveBayes

#### Decision Tree ID3

#### kNN

#### Neural Network MLP

In [219]:
result = mlp_clf.predict([test])
feature_predict = iris.target_names[result[0]]
print('Prediksi feature: ')
i =
for val in test:
    print('> ',  val, iris.feature_names[i])
feature_predict

Prediksi feature:
>  1 sepal width (cm)
>  2 petal length (cm)
>  3 petal width (cm)
>  4 feature

'versicolor'